@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Sarala&display=swap');

/* font-family: 'Press Start 2P', cursive;
font-family: 'Sarala', sans-serif; */

*{
    margin: 0px;
    padding:0px;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    font-size: 100%;
    background: black;
    margin: 0;
    padding:0;
}

header{
    min-width:280px;
    max-width: 2560px;
    margin:0;
    padding:0;
}

main{
    
    margin:0;
    align-items: center;
    justify-content: space-around;
    padding: 50px;
    
}

img{
    width: 100%;
}

.cabecalho{
    display:flex;
    flex-direction:row;
    align-items: center;
    justify-content: space-around;
    padding: 50px;
    
}

.cabecalho-menu{
    display:flex;
    gap:32px;
}

.cabecalho-menu-item{
    font-family: 'Press Start 2P', cursive;
    color:white;
    font-size:18px;
    
}

.cabecalho-menu-item:hover{
    background-color: rgba(236,214,196,0.5);
}

.conteudo{
    margin-bottom: 48px;
    border-top: 0.4px solid white;
}

.conteudo-principal{
    display:flex;
    
    align-items:center;
    justify-content:space-around;
}

.conteudo-principal-escrito{
    display:flex;
    flex-direction: column;
    gap:32px;
}

.conteudo-principal-escrito-titulo{
    font-family: 'Press Start 2P', cursive;
    font-weight:400;
    font-size:60px;
    color:white;
}
/* Animação da apresentação */
.conteudo-principal-escrito-nome{
    font-family: 'Press Start 2P', cursive;
    color:white;
    font-size: 24px;
    border-right: 2px solid white;
    white-space: nowrap;
    overflow:hidden;
}

.typing-animation{
    animation: blinkCursor 500ms steps(40)infinite normal, typing 4s steps(40) 1s normal both;
}

@keyframes typing{
    from{
        width:0;
    }
    to{
        width:21em;
    }
}

@keyframes blinkCursor{
    from{
        border-right-color:white;
    }
    to{
        border-right-color:transparent;
    }
}

/* Fim de Animação da apresentação */

.conteudo-principal-escrito-subtitulo{
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size:24px;
    color:white;
}

.conteudo-principal-img{
    width: 30%;
    padding: 10px;
}

.conteudo-secundario{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-top: 48px;
}

.conteudo-secundario-titulo{
    border-top: 0.4px solid white;
    padding-top:48px;
    font-family: 'Press Start 2P', cursive;
    font-weight:400;
    font-size:50px;
    color:white;
}

.conteudo-secundario-paragrafo{
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color:white;
}

.conteudo-terciario{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-top: 48px;
}

.conteudo-terciario-titulo{
    border-top: 0.4px solid white;
    padding-top:48px;
    font-family: 'Press Start 2P', cursive;
    font-weight:400;
    font-size:50px;
    color:white;
}

.conteudo-terciario-container{
    display:flex;
    width:1150px;
    padding: 20px;
    align-items:center;
    justify-content: center;
    flex-wrap: wrap;
}

.conteudo-terciario-container-card{
    position:relative;
    padding:10px;
    width:300px;
    background-color:black ;
    margin:20px;
    border:1px solid rgb(131, 131, 131);
    border-radius:20px;
    overflow: hidden;
    transition: 0.5s;
    text-align: center;
}

.conteudo-terciario-container-card:hover{
    background-color:white;
    color: white;
    margin-top:-30px;
    box-shadow:2px 20px 25px white;
    border-color:white;
}

.conteudo-terciario-conteiner-card-img{
    transition: 0.5s;
}

/* .conteudo-quaternario{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-top: 48px;
} */

.conteudo-quaternario{
    /* max-width: 1100px;
    width: 100%; */
    position: relative;
}

.conteudo-quaternario i{
    height: 50px;
    width: 50px;
    background: white;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    cursor:pointer;
    position: absolute;
    top:50%;
    font-size: 2rem;
    transform: translateY(-50%);
    box-shadow: black;
}
.conteudo-quaternario i:first-child{
    left:-220px;
}
.conteudo-quaternario i:last-child{
    right:-22px;
}
.conteudo-quaternario-titulo{
    border-top: 0.4px solid white;
    padding-top:48px;
    font-family: 'Press Start 2P', cursive;
    font-weight:400;
    font-size:50px;
    color:white;
}

.conteudo-quaternario-container{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 3) - 12px);
    gap:16px;
    overflow: hidden;
}



.conteudo-quaternario-container-card{
    height: 342px;
    list-style: none;
    background: #ffff;
    border-radius: 8px;
    display:flex;
    cursor:pointer;
    padding-bottom: 15px;
    align-items: center;
    justify-content: center;
    flex-direction: column;    
}
/* .conteudo-quaternario-container{
    margin:0 auto;
    width: 800px;
    height: 420px;
    overflow: hidden;
} */
/*Original, se nada der certo volte pra ele-> .conteudo-quaternario-container{
    display:flex;
    justify-content:center;
    flex-wrap: wrap;
} */
/*Original, se nada der certo volte pra ele-> .conteudo-quaternario-container-card{
    display:flex;
    flex-direction: column;
    text-align: justify;
    width: 300px;;
    height: 400px;
    padding:25px;
    border-radius:15px;
    margin-top:20px;
    margin: 10px;
    border:1px solid rgb(131, 131, 131);
    background-color: rgb(58, 57, 57);
    position: relative;
} */

.conteudo-quaternario-container input{
    display:none;
}

.conteudo-quaternario-container-card-img{
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}
.img-projeto{
    width: 250px;
    height: 120px;
    border-radius:50%;
    margin-top: 0px;
}
 
 .conteudo-quaternario-container-card-texto-titulo{
    text-align: center;
    margin-bottom: 15px;
    margin-top: 0px;
    font-size: 18px;
    font-family:'Press Start 2P', cursive ;
    position:relative;
    color: white;
 }
 .conteudo-quaternario-container-card-texto-paragrafo{
    color:white;
    font-family: 'Sarala', sans-serif;
    font-size: 14px;

 }
 .conteudo-quaternario-container-card-icon{
    display:flex;
    flex-direction: center;
    width: 84px;
    height: 500px;   
 }

:root{
    --color-neutral-0: #0e0c0c;
    --color-neutral-10: #171717;
    --color-neutral-30: #a8a29e;
    --color-neutral-40: #f5f5f5;
} 

footer {
    display:flex;
    flex-direction:row;
    align-items: center;
    justify-content: space-around;
    color:aliceblue;
    background-color: var(--color-neutral-0);
      
}

.footer_copyright{  
    justify-content: center;
    align-items: center;
    background-color: var(--color-neutral-0);
    font-size: 20px;
    padding:10px;
}
.footer_social_media{
font-size: 30px;
}

/* .footer_social_media{
    align-items: center;
    
} */

/* Mobile */
@media (max-width:667px){

    .cabecalho {
        width:410px;
        padding:25px;
        align-items: center;
    }

    .cabecalho-menu{
        gap:10px
    }

    .cabecalho-menu-item{
        font-size: 10px;
    }

    
.conteudo-principal{
    display:flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap:20px;
}

.conteudo-principal-escrito{
    display:flex;
    align-items: center;
}
    .conteudo-principal-escrito-titulo{
        font-size:25px;
        justify-content: center;
        align-items: center;
    } 

    .conteudo-principal-escrito-nome{
        font-family: 'Press Start 2P', cursive;
        color:white;
        font-size: 15px;
        justify-content: center;
        align-items: center;
    }

    .conteudo-principal-escrito-subtitulo{
        font-size:19px;

    }

    .conteudo-principal-img{
        width: 60%;
        margin-top: -40px;
    }

    .conteudo-secundario-titulo{
        font-size: 25px;
        align-items: center;
    }

    @keyframes typing{
        from{
            width:0;
        }
        to{
            width:24.5em;
        }
    }

    .conteudo-secundario-paragrafo{
        font-size: 19px;
        margin-left: 28px;
    }

    .conteudo-terciario-titulo{
        font-size:25px;
    }

    .conteudo-terciario-container{
        width:400px;
    }
    
    .conteudo-terciario-container-card{   
        padding:10px;
        margin:5px;
        width:110px;
    }

    .conteudo-quaternario-titulo{
        font-size: 25px;
    }

    
    

    


}